body{
    background-color:rgb(228, 218, 218)
}

header,main{
    background-color: rgb(4, 102, 102);
    padding: 35px;
}
nav{
    background-color: maroon;
    padding: 45px;
}
body {
    background-color: rgb(111, 255, 97);
}
h1 {
    font-size:large;
    font-weight: bolder;
}
h3{
    font-size: large;
    font-style: initial;
}
ol{
    list-style-type: decimal; 
    padding: 35px;
    border: rgb(0, 0, 46) solid 15px;

}
ul{
    list-style-type:circle;
    padding: 25px;
    border: black solid 15px;
}
a:hover{
    
    color: rgb(255, 0, 0);  
    font-weight: bolder;

}
